<div class="main-class">
    <div class="container">
        <mat-card>
                <div class="register-box">
                <div class="register">
                    <p>Register</p>
                </div>
                <form [formGroup]="empForm">
                    <mat-grid-list cols="2" rowHeight="400px">
                        <div class="empControls">
                            <div class="input-box">
                                <mat-form-field>
                                    <mat-label>EmployeeName</mat-label>
                                    <input matInput placeholder="Placeholder" formControlName="empName" required>
                                    <mat-error *ngIf="f['empName'].errors?.['required']">name is required</mat-error>
                                    <mat-error *ngIf="f['empName'].errors?.['minlength']">min 3 char</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="input-box">
                                <mat-form-field>
                                    <mat-label>Email</mat-label>
                                    <input matInput type="email" formControlName="email" placeholder="Placeholder"
                                        required>
                                    <mat-error *ngIf="f['email'].errors?.['required']">email is required</mat-error>
                                    <mat-error *ngIf="f['email'].errors?.['email']">email is not valid</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="input-box">
                                <mat-form-field>
                                    <mat-label>Password</mat-label>
                                    <input matInput type="password" formControlName="password" placeholder="Placeholder"
                                        required>
                                        <mat-error *ngIf="f['password'].errors?.['required']">Password is
                                            required One Uppercase 1 lowercase,1Number, 1 SpecialCharacter </mat-error>
                                        <mat-error *ngIf="f['password'].errors?.['minlength']"> Min 8 Letters , Max 16 Letters</mat-error>
                                    
                                </mat-form-field>
                            </div>
                            <div class="input-box" style="margin-top: 25px;">
                                <mat-form-field>
                                    <mat-label>Mobile No</mat-label>
                                    <input matInput type="number" formControlName="mobileNO" placeholder="Placeholder"
                                        required>
                                    <mat-error *ngIf="f['mobileNO'].errors?.['required']">mobile no is
                                        required</mat-error>
                                    <mat-error *ngIf="f['mobileNO'].errors?.['minlength']">min 10 no</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="empControls">
                            <div class="input-box">
                                
                                    <mat-label>Gender : </mat-label>

                                    <mat-radio-group class="exradio" formControlName="gender"
                                        aria-label="Select an option">
                                        <mat-radio-button *ngFor="let gender of genderlist"
                                            [value]="gender">{{gender}}</mat-radio-button>
                                    </mat-radio-group>
                               

                            </div>
                            <div class="input-box">
                                <mat-form-field>
                                    <mat-label>Date of Birth</mat-label>
                                    <input matInput [matDatepicker]="picker" formControlName="date">
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div class="input-box">
                                <mat-form-field>
                                    <mat-label>Address</mat-label>
                                    <textarea matInput formControlName="Address"></textarea>
                                </mat-form-field>
                            </div>

                            <div mat-dialog-action [align]="'end'" class="buttonRow">
                                <span class="Action-btn">
                                    <button mat-raised-button (click)="addEmp()">SignUp</button>
                                </span>
                            </div>

                        </div>

                    </mat-grid-list>
                </form>
                <div class="Not-an-User">
                    <p>Already an User Click Here for <a routerLink="/login">login</a></p>

                </div>
            </div>
            </mat-card>
    </div>
</div>